<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>2 x 2 = ?</string>
		<key>answers</key>
		<array>
			<dict>
				<key>text</key>
				<string>8</string>
				<key>isCorrect</key>
				<false/>
			</dict>
			<dict>
				<key>text</key>
				<string>4</string>
                <key>isCorrect</key>
				<true/>
			</dict>
			<dict>
				<key>text</key>
				<string>12</string>
                <key>isCorrect</key>
				<false/>
			</dict>
			<dict>
				<key>text</key>
				<string>14</string>
                <key>isCorrect</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>Ai giàu nhất Việt Nam?</string>
        <key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>Cường USD</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>Bầu Kiên</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>Trần Đình Trường</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>Trương Đình Anh</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>Thủ Đô của Việt Nam là gì?</string>
        <key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>Hà Tây</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>Hà Nội</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>Đà Nẵng</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>TP HCM</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>Ngôn ngữ Objective-C đứng thứ mấy thế giới?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>3</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>1</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>2</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>5</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>Dùng phần mềm gì để code IOS?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>Dreamweaver</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>Xcode</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>NetBean</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>EditText</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>Phiên bản mới nhất của PHP hiện tại là bao nhiêu?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>5.3</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>5.6</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>5.5</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>5.4</string>
                <key>isCorrect</key>
				<true/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>6 x 12 = ?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>72</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>82</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>92</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>62</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>1 USD tương đương với bao nhiêu VND ?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>16.000</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>18.000</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>21.000</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>23.000</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>9 + 19 = ?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>26</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>28</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>81</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>24</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>12 x 15 = ?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>150</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>160</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>170</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>180</string>
                <key>isCorrect</key>
				<true/>
            </dict>
        </array>
	</dict>
	<dict>
		<key>text</key>
		<string>9 * 18 = ?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>182</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>172</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>164</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>162</string>
                <key>isCorrect</key>
				<true/>
            </dict>
        </array>
	</dict>
    <dict>
		<key>text</key>
		<string>Việt Nam được chia làm mấy miền ?</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>1</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>2</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>3</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>4</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
    <dict>
		<key>text</key>
		<string>Tuyên ngôn độc lập là ngày nào</string>
		<key>answers</key>
		<array>
            <dict>
                <key>text</key>
                <string>9/11</string>
                <key>isCorrect</key>
				<false/>
            </dict>
            <dict>
                <key>text</key>
                <string>2/9</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>10/3</string>
                <key>isCorrect</key>
				<true/>
            </dict>
            <dict>
                <key>text</key>
                <string>5/9</string>
                <key>isCorrect</key>
				<false/>
            </dict>
        </array>
	</dict>
    
</array>
</plist>
